{
  "src/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "git add"
  ],
  "types/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "git add"
  ],
  "tests/**/*.{js,jsx,ts,tsx}": [
    "eslint --fix",
    "git add"
  ]
}
