.container {
  width: 100%;

  .ul {
    @include mp-0;
    list-style: none;
    padding: 10px 20px;
    display: flex;
    flex-wrap: wrap;
  }
}

.li {
  display: flex;

  .label {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    user-select: none;
  }

  .label::after {
    content: ":"
  }
}
